- name: Copy config file to wireguard
  copy:
    remote_src: true
    src: "{{ backup.restore_from }}/wireguard/"
    dest: "{{ wireguard.installpath }}data/"
- name: Stop wireguard
  community.docker.docker_compose_v2:
    project_src: "{{ wireguard.installpath }}"
    state: absent
- name: Run wireguard
  community.docker.docker_compose_v2:
    project_src: "{{ wireguard.installpath }}"
    state: present
