- name: Folder for joplin should exist
  file:
    path: "{{ joplin.installpath }}"
    state: directory
    mode: "0644"
- name: Copy docker files to server
  template:
    src: ../files/{{ item }}
    dest: "{{ joplin.installpath }}{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml

- name: Stop joplin
  community.docker.docker_compose_v2:
    project_src: "{{ joplin.installpath }}"
    state: absent
- name: Run joplin
  community.docker.docker_compose_v2:
    project_src: "{{ joplin.installpath }}"
    state: present
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
