- name: Folder for vaultwarden should exist
  file:
    path: "{{ vaultwarden.installpath }}"
    state: directory
    mode: "0644"
- name: Copy docker files to server
  template:
    src: ../files/{{ item }}
    dest: "{{ vaultwarden.installpath }}{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml
- name: Stop vaultwarden
  community.docker.docker_compose_v2:
    project_src: "{{ vaultwarden.installpath }}"
    state: absent
- name: Run vaultwarden
  community.docker.docker_compose_v2:
    project_src: "{{ vaultwarden.installpath }}"
    state: present
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
