- name: Folder for should exist
  file:
    path: "{{ my_folder }}"
    state: directory
    mode: "0644"
- name: Copy docker files to server
  template:
    src: ../files/{{ item }}
    dest: "{{ my_folder }}/{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml

- name: Stop demo
  community.docker.docker_compose_v2:
    project_src: "{{ my_folder }}"
    state: absent
- name: Run demo
  community.docker.docker_compose_v2:
    project_src: "{{ my_folder }}"
    state: present
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
