- name: Folder for watchtower should exist
  file:
    path: "{{ watchtower.installpath }}"
    state: directory
    mode: "0644"
- name: Copy docker files to server
  template:
    src: ../files/{{ item }}
    dest: "{{ watchtower.installpath }}{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml

- name: Stop watchtower
  community.docker.docker_compose_v2:
    project_src: "{{ watchtower.installpath }}"
    state: absent
- name: Run watchtower
  community.docker.docker_compose_v2:
    project_src: "{{ watchtower.installpath }}"
    state: present
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
