- name: Folder for wireguard should exist
  file:
    path: "{{ wireguard.installpath }}"
    state: directory
    mode: "0644"
- name: Copy docker files to server
  template:
    src: ../files/{{ item }}
    dest: "{{ wireguard.installpath }}{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml

- name: Stop wireguard
  community.docker.docker_compose_v2:
    project_src: "{{ wireguard.installpath }}"
    state: absent
- name: Run wireguard
  community.docker.docker_compose_v2:
    project_src: "{{ wireguard.installpath }}"
    state: present
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
