- name: Folder for portainer should exist
  file:
    path: "{{ portainer.installpath }}"
    state: directory
    mode: "0644"
- name: Copy docker files to server
  template:
    src: ../files/{{ item }}
    dest: "{{ portainer.installpath }}{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml
- name: Stop portainer
  community.docker.docker_compose_v2:
    project_src: "{{ portainer.installpath }}"
    state: absent
- name: Run portainer
  community.docker.docker_compose_v2:
    project_src: "{{ portainer.installpath }}"
    state: present
  register: output
- name: Show results
  ansible.builtin.debug:
    var: output
