version: "3.8"
services:
  wireguard:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wireguard
    volumes:
      - "./data:/etc/wireguard"
      - /lib/modules:/lib/modules:ro
    ports:
      - "{{ wireguard.udp_port }}:51820/udp"
      - "{{ wireguard.tcp_port }}:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wireguard.rule=Host(`{{ wireguard.host }}`)"
      - "traefik.http.services.wireguard.loadbalancer.server.port={{ wireguard.tcp_port }}"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - traefik_web

networks:
  traefik_web:
    external: true
